* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
}

.small-basic-para {
    color: #535862;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.tiny-basic-para {
    color: #414651;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.medium-para {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.basic-para-gray {
    color: #535862;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.button-content {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
}

.for-gap, .main-container {
    display: flex;
    flex-direction: column;
    gap: 96px;
}

.header-container {
    display: flex;
    width: 100%;
    padding: 22px 208px;
    align-items: center;
    justify-content: space-between;
}

.header-gapper {
    display: flex;
    gap: 32px;
}

.nav-list-title {
    display: flex;
    gap: 4px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-buttons {
    display: flex;
    gap: 12px;
}

.login {
    border-radius: 8px;
    border: 1px solid #D5D7DA;
    padding: 10px 14px;
    color: #414651;
    background: #FFF;
}

.sign-in {
    color: #FFF;
    background: #7F56D9;
    border-radius: 8px;
    padding: 10px 14px;
    border: none;
}

.main-container {
    max-width: 1440px;
    width: 100%;
    align-items: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-container-content {
    display: flex; 
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.hero-container-content-button {
    display: flex;
    gap: 12px;
    padding: 8px 12px 8px 8px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #D5D7DA;
    max-width: 381px;
    width: 100%;
}

.hero-button {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 8px;
    border: 1px solid #D5D7DA;
    border-radius: 6px;
    background: #FFF;
}

.hero-container-content-button-gapper {
    display: flex;
    gap: 4px;
    align-items: center;
}

h1 {
    color: #181D27;
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; 
}

.hero-container-content-para {
    width: 768px;
    display: flex;
    text-align: center;
    align-self: center;
}

.hero-container-content-buttons {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.Demo-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 24px;
    border-radius: 10px;
    border: 1px solid #D5D7DA;
    background: #FFF;
    color: #414651;
}

.Sign-up-button {
    background: #7F56D9;
    border-radius: 10px;
    padding: 16px 24px;
    align-items: center;
    border: none;
    color: #FFF;
}

/* feature starts here */